<% fields.times do %>
  <div class="mb-4 animate-pulse">
    <div class="mb-1 h-5 w-1/3 rounded bg-slate-200"></div>
    <div class="h-10 w-full rounded-md bg-slate-200"></div>
    <div class="mt-2 h-5 w-3/4 rounded bg-slate-200"></div>
  </div>
<% end %>